@tailwind base;
@tailwind components;
@tailwind utilities;


.application-border {
  border-radius: 20px;
  display: flex;
  /* outline: 5px solid; */
  padding: 450px 700px;
  background-color: #21201F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-info {
  position:absolute;
  left: 30px;
  top: 30px;
  
}

.right-info {
   position:absolute;
   left: 300px;
   top: 8px;
   
  
}

.information {
  border-radius: 15px;
  /* padding: 442px 545px; */ 
  width: 1090px;
  height: 883px;
  position:absolute;
  background-color: #161618;
  

}

.sidebar {
  margin-bottom: 0.5rem; 
  display: flex; 
  align-items: center;
  padding: 0.25rem;
  cursor:pointer;
  border-radius: 0.5rem;
  color: #B8C5C5;
  font-weight: bold;
  
  
}

.sidebar:hover {
  background-color: #3b3b3d;
}

.eightNotify {
  display:flex;
  /* justify-content:right; */
  align-items: center;
  margin-left: 70px;
}


.layout {
  display:flex;
  flex-direction: column;
  margin: 1%;
  
}
.settings {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.userActions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}

.user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color:white;
  
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #afafb4;
}

.borderSearch {
  display: flex;
  padding: 3px;
  border: solid;
  border-radius: 5px;
  border-width: thin;
  color: #313030;
  
}

.search {
  border-radius: 5px;
  background-color: #161618;
  margin-left: 5px;
  color: white;

  
}

.invite {
  /* display: flex; */
  border-radius: 5px;
  padding: 5px;
  background-color: #313030;
  display:flex;
  align-items: center;
  flex-direction: row;
  border-radius: 6px;
  border-width: thin;
  border-color: #313030;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  
}

.upgrade {
  border-radius: 5px;
  padding: 6px;
  background-color: #1a73e8;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  
}

.Tabs {
  display: flex;

}

.tablist {
  font-size: 15px;
  margin-left: 2%;
  display: flex; 
  cursor: pointer;
  border-radius: 5px;
  color: #B8C5C5;
  padding: 7px;
  margin-bottom: 15px;

}

.tablist:hover {
  font-size: bold;
  color: white;
  background-color: #3b3b3d;
}

.activeTab {
  background-color: #3b3b3d;
  color: white;
}

.content {
  display: none;
  width: 100%;
  height: 100%;

}

.activeContent {
  display: block;

}

.security {
  margin: 1%;
  display: flex;

  border-radius: 20px;
  background-color: #21201F;
}

.circleProgress {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}


.settings2 {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 1%;
  display: flex;
  border-radius: 20px;
  background-color: #21201F;
 
}

.dismiss {
  /* display: flex; */
  border-radius: 5px;
  padding: 5px;
  background-color: #313030;
  display:flex;
  align-items: center;
  flex-direction: row;
  border-radius: 6px;
  border-width: thin;
  border-color: #313030;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  
}

.review {
  border-radius: 5px;
  padding: 6px;
  background-color: #1a73e8;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  
}

.user h2 {
  font-size: 16px;
  color: #B8C5C5;
}

.line {

  width: 100%; 
  border: none;
  height: 1px;
  background-color: #333; /* Adjust the color as needed */
  margin-top: 5px;;
}

.basic {
  margin: 2%;
  
}

.password {
  margin: 2%;
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  /* background-color: blue; */
  /* padding: 10px; */
  align-items:baseline;
}

.passInfo {
  /* justify-content: space-between; */
  /* display: flex; */
  /* gap: 50px; */
  /* background-color: blue; */

}

.hidden {
  
  
}

.edit {
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #313030;
  
  cursor: pointer;
  border-radius: 6px;
  border-width: thin;
  border-color: #313030;

  font-size: 13px;
}

.twostep {
  margin: 2%;
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  align-items:baseline;
}