@tailwind base;
@tailwind components;
@tailwind utilities;


.application-border {
  border-radius: 20px;
  display:flex;
  /* outline: 5px solid; */
  padding: 450px 700px;
  background-color: #21201F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-info {
  position:absolute;
  left: 30px;
  top: 30px;
  
}

.right-info {
   position:absolute;
   left: 300px;
   top: 8px;
   
  
}

.information {
  border-radius: 15px;
  /* padding: 442px 545px; */ 
  width: 1090px;
  height: 883px;
  position:absolute;
  background-color: #161618;
  

}

.sidebar {
  margin-bottom: 0.5rem; 
  display: flex; 
  align-items: center;
  padding: 0.25rem;
  cursor:pointer;
  border-radius: 0.5rem;
  color: #B8C5C5;
  font-weight: bold;
  
  
}

.sidebar:hover {
  background-color: #3b3b3d;

}

.eightNotify {
  /* justify-items: right; */
  float: right;
}

.settings {
  margin: 3%;
  display: flex;
  justify-content: space-between;
  background-color: gray;
  align-items: center;
  padding: 20px;
}

.userActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.userName {
  /* display:flex;
  flex-direction: column; */
  background-color: #3b3b3d;
}

.search {
  border-radius: 5px;
  background-color: #333;
  /* margin: 3%; */
}
.invite {
  border-radius: 5px;
  padding: 5px;
  background-color: #444;
  display:flex;
  flex-direction: row;
  /* margin: 3%; */
}

.upgrade {
  border-radius: 5px;
  padding: 5px;
  background-color: #1a73e8;
  /* margin: 3%; */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
